// 全域設定start
body{
    line-height: $line-height-base;
    font-family: 'Lato', sans-serif;
    color: $gray-900;
    font-weight: 700;
}

code{
    font-family: 'Roboto Mono', monospace;
}

a{
    display: block;
}   

ul{
    list-style: none;
}

// 覆蓋bootstrap預設樣式
p,ul{
    margin: 0;
    padding: 0;
}

h2{
    margin-bottom: 0;
}

.btn{
    padding: 0;
}

tbody th{
    font-weight: 400;
}
// 全域設定end