// 間距start
.dist-pb-360{
    padding-bottom: 360px;
}

.dist-p12{
    padding: 12px;
}

.dist-mr-23{
    margin-right: 23px;
}

.dist-mr-50{
    margin-right: 50px;
}

.dist-mr-560{
    margin-right: 560px;
}

.dist-ml-296{
    margin-left: 296px;
}

.dist-ml-336{
    // 368-32邊界
    margin-left: 336px;
}

.dist-mb-4{
    margin-bottom: 4px;
}

.dist-mb-6{
    margin-bottom: 6px;
}

.dist-mb-18{
    margin-bottom: 18px;
}

.dist-mb-63{
    margin-bottom: 63px;
}
// 間距end
