.modal{
    &-header{
        padding: 32px;
    }
    &-body{
        padding: 0 32px 0 32px;
    }
    &-body-border{
        margin-top: 24px;
        margin-bottom: 24px;
    }
    .form-label{
        margin-bottom: 4px;
    } 
    .form-check{
        margin-bottom: 8px;
    }
}


