// 左側選單
.main-menu{
    width: 296px;
    a:hover{
        color: $success  !important;
    }    
    h1{
        background-image: url("../images/logo-ANSWER.svg");
        width: 151px;
        height: 40px;
        text-indent: 101%;
        overflow: hidden;
        white-space: nowrap;
    }
    .navbar-nav{
        .nav-item{
            padding-top: 0;
            padding-bottom: 26px;
        }
        li:nth-last-child(1){
            padding-bottom: 0;
        }
    }
    a{
        padding-top: 0;
        padding-bottom: 0;
    }
}

// 滑鼠移到左側選單項出現左邊綠線
.nav-link{
&:hover::before{
    content: "";
    position: absolute;
    left: 0;
    width: 4px;
    height: 32px;
    border-left: 4px solid #198754;
  }
}
